---
import PostPreview from "@/components/post-preview.astro";
import MainLayout from "@/layouts/main-layout.astro";
import { sortPostsByDate } from "@/lib/utils";
import { getCollection } from "astro:content";

const posts = sortPostsByDate(
  await getCollection("blog", ({ data }) => data.isDraft !== true)
);

const title = "thomas • blog";
---

<MainLayout {title} description="Where my journal is written.">
  <main class="prose">
    <h1>Blog</h1>

    <div class="my-8"></div>

    <div class="flex flex-col gap-12">
      {posts.map((post) => <PostPreview {post} />)}
    </div>
  </main>
</MainLayout>
