---
import Link from "@/components/link";
import { formatDate } from "@/lib/utils";
import type { CollectionEntry } from "astro:content";

type Props = {
  post: CollectionEntry<"blog">
}
const { post: { data: { title, description, date }, slug } } = Astro.props
---

<article class="flex flex-col gap-3">
  <Link href={`/blog/${slug}`}>
    <span class="text-(lg imp) font-semibold">{title}</span>
  </Link>

  <span>{description}</span>

  <span>{formatDate(date)}</span>
</article>
